.plate-icon {
    height: 50px;
    margin: 0;
    padding-right: 5px;
    padding-left: 0;
    padding-top: 0;
}

.icon-brand-wrapper {
    padding: 10px;

}

.navbar-brand {
    padding-top: 10px;
}

.nav-link {
    float: right !important;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 20px !important;
}

.main-nav {
    background-color: black !important;
    padding-top: 0;
    padding-bottom: 0;
}