.plate-icon {
    height: 50px;
}

.icon-and-brand-wrapper {
    padding: 0;

}

.navbar-brand {
    padding-top: 30px;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 20px !important;
}

.main-nav {
    background-color: black !important;
    padding-top: 0;
    padding-bottom: 0;
}